<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Reciepe book</a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav" style="margin-top: 5px;">
                <li *ngIf="isAuthenticated">
                    <a routerLink="/recipe" routerLinkActive="active">Reciepe</a>
                </li>
                <li *ngIf="!isAuthenticated">
                    <a routerLink="/auth" routerLinkActive="active">Authentication</a>
                </li>
                <li>
                    <a routerLink="/shoppingList" routerLinkActive="active">Shopping List</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a style="cursor: pointer;" *ngIf="isAuthenticated" (click)="logout()">Logout</a></li>
                <li class="dropdown" appDropdown *ngIf="isAuthenticated">
                    <a class="dropdown-toggle" role="button" style="cursor: pointer;">Manage<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;" (click)="onSave()">Saving Data</a></li>
                        <li><a style="cursor: pointer;" (click)="onFetch()">Fetching Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>