<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Reciepe book</a>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav" style="margin-top: 5px;">
                <!-- <li><a href="#" (click)="checkRecipe('recipe')">Reciepe</a></li>
                <li><a href="#" (click)="checkRecipe('shopping-list')">Shopping List</a></li> -->
                <li>
                    <a routerLink="/recipe" routerLinkActive="active">Reciepe</a>
                </li>
                <li>
                    <a routerLink="/shoppingList" routerLinkActive="active">Shopping List</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a class="dropdown-toggle" role="button" style="cursor: pointer;">Manage<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;">Saving Data</a></li>
                        <li><a style="cursor: pointer;">Fetching Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>