<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="submitForm()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success">Save</button> &nbsp;
                    <button type="button" class="btn btn-danger">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input formControlName="name" name="name" type="text" class="form-control" id="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imageUrl">ImageUrl</label>
                        <input formControlName="imageUrl" name="imageUrl" type="text" class="form-control"
                            id="imageUrl">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <img scr="" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" formControlName="description" name="description" class="form-control"
                            rows="6" id="description">Description</textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row" 
                    *ngFor="let ingredientCtrl of recipeForm.get('ingredients')['controls']; let i= index"
                        [formGroupName]="i" style="margin-top: 10px;">
                        <div class="col-xs-8">
                            <input type="text" formControlName="name" class="form-control">
                        </div>
                        <div class="col-xs-2">
                            <input type="number" formControlName="amount" class="form-control">
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-danger">X</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-success" (click)="addIngredient()">Add Ingredients</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>